/* Centers the container */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0px; /* Gets rid of scroll bars and white outline of screen */
    background-color: #F7ECE1 ;
}

.container{ /* outline: 10px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 250px; 
    height: 75vh;
    max-height: 500px;
    min-width: 300px;
    width: 50vw;
    max-width: 600px;
    background-color: #CAC4CE;
    border-radius: 25px; /* Makes rounded edges */
    box-shadow: 0 0 20px #AAAAAA; /* Adds box shadow */
}

.header{
    font-size: 96px;
    font-weight: bold;
    color: #A93F55;
}

.sign-in-input {
    border: none;
    border-bottom: 3px solid #242038;
    background-color: #CAC4CE;
    min-width: 200px;
    width: 35vw;
    max-width: 400px;
    font-size: 24px;
    color: black;
    padding: 5px;
}

/* Changes Placeholder text color */
::placeholder{
    color: #524958;
    opacity: 1;
}

/* Takes black border away when you click on the sign in inputs */
.sign-in-input:focus {
    outline: none;
}

.sign-in-button {
    background-color: #A93F55;
    color: white;
    width: 50%;
    font-size: 32px;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    border: none;
    box-shadow: 0 0 20px #AAAAAA;
}
.sign-in-button:hover{
    background-color: #863242;
}
.sign-in-button:active{
    box-shadow: 0 2px 20px #3d3d3d;
    transform: translateY(2px);
}

/* Resize all elements correctly */
@media screen and (max-width: 992px) {
    .container{
        outline: 10px solid red;
    }
    .header{
        font-size: 72px;
    }
    .sign-in-input{
        font-size: 18px;
    }
    .sign-in-button{
        font-size: 24px;
    }
}